h1 {
  font-family: "Orbitron", sans-serif;
}

.navbar {
  background-color: #171a21;
  color: #c5c3c0;

  .navbar-link {
    text-decoration: none;
    color: #c5c3c0;

    &:hover {
      color: #ffffff;
    }
  }
}
